.variables {
  --contentColor: var(--on-surface);
}

.root {
  -webkit-tap-highlight-color: transparent;
  composes: variables;
  position: relative;
  height: 48px;
  width: 48px;
  margin: -12px;
  overflow: hidden;
  font-size: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--contentColor);
  background-color: transparent;
}

.root::before {
  -webkit-tap-highlight-color: transparent;
  content:'';
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  border-radius: 8px;
  background-color: var(--contentColor);
  opacity: 0;
  transition: transform 150ms ease-in;
  transform: scale(0);
}

.root:hover::before {
  opacity: 0.08;
  transform: scale(1);
}

.root:focus::before,
.root:active::before {
  opacity: 0.12;
  transform: scale(1);
}
